.gallery {
  display: grid; 
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  justify-content: center;
  gap: 8px;
}

.gallery img{
  cursor: pointer;
}

.gallery img:hover{
  opacity: 0.9;
}

.videos iframe{
  width: 100%;
}
